/* SETUP */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

html,
body {
  height: 100%;
  color: #333;
}

::-webkit-scrollbar {
  display: none;
}

/* VARIABLES */

:root {
  /* PADDING  */
  --input-padding: 0.8rem 1.6rem;
  /* BORDER RADIUS */
  --button-border-radius: 40px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  /* COLORS */
  --color--primary: #5c8374;
  --color--secondary: #ccc;
  --secondary-text-color: #555;

  /* ICON */
  --color--icon: #ccc;

  /* SHADOW */
  --color-shadow: #ccc;

  /* FONT WEIGHT */
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/* GENERAL */

.container {
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-top: 7rem;
}

.primary-text {
  font-weight: 700;
}

.secondary-text {
  color: var(--secondary-text-color);
  font-size: 1.4rem;
}

.text--sm {
  font-size: 1.2rem;
}

.button {
  padding: 1.4rem 1.6rem;
  gap: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: var(--button-border-radius);
  border: none;
}

.button--full {
  width: 100%;
}

.button--primary {
  background: var(--color--primary);
  color: #fff;
}

.button--secondary {
  background: var(--color--secondary);
}

.button--icon {
  border: none;
  background: none;
}

.icon {
  font-size: 1.6rem;
}

.icon--md {
  font-size: 2rem;
}

.icon--mdx2 {
  font-size: 4rem;
}

.icon--mdx3 {
  font-size: 8rem;
}

.icon--lg {
  font-size: 12.8rem;
}

.input {
  display: flex;
  border-radius: var(--border-radius-md);
  border: none;
  padding: var(--input-padding);
  outline: none;
}

.input--rounded {
  border-radius: var(--button-border-radius);
}

.input--full {
  width: 100%;
}
