/* HEADER */

.header {
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.8rem;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-title {
  flex: 1;
  padding: 0 0.8rem;
}

.header-sidenav-button {
  padding: 0.8rem;
}

/* HEADER ACTIONS  */
.header-actions {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
