.list-page-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.empty-list .main-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.list-page-wrapper.empty {
  align-items: center;
  justify-content: center;
} */

.list-icon {
  padding-bottom: 3.2rem;
}

.list-button-wrapper {
  position: fixed;
  right: 0.8rem;
  bottom: 3.2rem;
}

.add-item-button {
  display: flex;
  align-items: center;
}

.add-item-button i {
  padding-right: 0.8rem;
}

.progress-wrapper {
  background: #fff;
  padding: 0 0.8rem;
  padding-bottom: 0.8rem;
}

.progress {
  display: flex;
  background: var(--color-bg);
  padding: 0.4rem 0;
  width: 100%;
  border-radius: 1.6rem;
  position: relative;
  overflow: hidden;
  /* margin: 0rem 1.6rem; */
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--color-accent);
  border-radius: 1.6rem;
}

.items-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.items-wrapper-empty {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.items-wrapper-empty .list-text-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  /* justify-content: space-between; */
  padding: 2rem 0.8rem;
  background-color: #fff;
  position: relative;
}

.item-content {
  display: flex;
  flex: 1;
  padding-left: 1.6rem;
}

.item.checked .item:nth-last-child(1 of :not(.complete)) {
  box-shadow: 0 3px 6px #dadada;
}

.checkbox {
  appearance: none;
  height: 2rem;
  width: 2rem;
  border: 2px solid var(--color--primary);
  border-radius: 100%;
}

.icon-wrapper {
  background-color: var(--color-bg);
  padding: 0.8rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  position: relative;
}

.item.checked {
  background: none;
}

.checkbox-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-items: center; */
  /* justify-content: center; */
}

.item .item-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, -50%);
  z-index: 5;
}

.item .item-check-icon {
  position: absolute;
  transform: translateX(0%);
  left: 100%;
  display: flex;
  opacity: 0;
  font-size: 2rem;
  visibility: hidden;
}

.item.checked .item-checkbox {
  /* display: none; */
  opacity: 0;
  visibility: none;
}

.item.checked .item-check-icon {
  opacity: 1;
  visibility: visible;
}
