.list-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5.6rem 0.8rem;
}

.list-icon {
  padding-bottom: 3.2rem;
}

.list-button-wrapper {
  position: fixed;
  right: 0.8rem;
  bottom: 3.2rem;
}

.add-item-button {
  display: flex;
}
