.item-header {
  background: var(--color--primary);

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: fixed;
  width: 100%;
}

.item-header-search {
  display: flex;
  gap: 1.6rem;
  padding: 1.6rem 1.6rem 0.8rem 1.6rem;
}

.item-header i {
  color: #fff;
}

/* ITEM HEADER TABS */

.item-header-tabs {
  display: flex;
}

.tab {
  position: relative;
  flex: 1;
  padding: 0.8rem 1.6rem;
  background: inherit;
  border: none;
  font-weight: var(--font-weight-bold);
  color: #fff;
}

.tab::after {
  content: "";
  content: "";
  bottom: 0;
  left: 0;
  background: #fff;
  position: absolute;
  width: 0%;
  height: 3px;
}

.tab.active::after {
  width: 100%;
  transition: width 0.2s ease-in;
}

/* LIST ITEM */

.item-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0rem 1.6rem;
  gap: 1.6rem;
  align-items: center;
}

.list-item-content {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-item-content span {
  padding: 0.8rem;
  color: #fff;
  background: #ddd;
  border-radius: var(--border-radius-full);
  display: flex;
  align-items: center;
}
