.new-list {
  padding: 2.4rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  position: relative;
}

.suggestions-title {
  margin-right: auto;
}

.suggestions-container {
  position: absolute;
  width: 100%;
  bottom: -0.8rem;
}

.suggestions {
  display: flex;
  overflow-x: scroll;
  gap: 0.8rem;
  width: 100%;
  padding: 0 0.8rem;

  /* overflow: scroll; */
}

.suggestions button {
  padding: 0.4rem 1.6rem;
}

.button-create-container {
  position: fixed;
  bottom: 1.6rem;
  width: 100%;
  padding: 0 0.8rem;
}
